body {
   z-index: 1;
   margin-top: 0px;
   margin-right: 0px;
   margin-bottom: 0px;
   margin-left: 0px;
}

html {
  background: url("PizzaBackDark.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

ul.menu {
   z-index: 3;
   position: absolute;
   top: 0px;
   width: 100%;
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: rgba(255, 255, 255, .5);

   /* box-shadow */
   -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 10px;
   -moz-box-shadow: rgba(0,0,0,0.8) 0 0 10px;
   -box-shadow: rgba(0,0,0,0.8) 0 0 10px;

}

#logoHeader {
   position: absolute;
   top: 0px;
   float: left;
   height: 45px;
   z-index: 4;
}

li {
    float: right;
}

li a {
   font-family: 'Open Sans', sans-serif;
   display: block;
   color: black;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;

   -webkit-transition: all 1s;
   -moz-transition: all 1s;
   transition: all 1s;
   cursor: pointer;
}

li a:hover:not(.activeMenu) {
   background-color: white;
}

li a:hover {
   transform: scale(1.1);
}


#takeSpace {
   height: 100px;
}

.formSpace {
   position: absolute;
   top: 150px;
   left: 150px;
   background-color: rgba(255, 255, 255, 0.5);
   padding: 20px;

   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   /* box-shadow */
   -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 10px;
   -moz-box-shadow: rgba(0,0,0,0.8) 0 0 10px;
   box-shadow: rgba(0,0,0,0.8) 0 0 10px;
}

form {
   font-family: 'Dosis', sans-serif;
   font-size: 20px;
}

input {
   font-family: 'Open Sans', sans-serif;
}



#yamLove {
   position: absolute;
   right: 15px;
   bottom: 15px;
   width: 300px;
   background-color: rgba(255, 255, 255, 0.5);

   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   /* box-shadow */
   -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 10px;
   -moz-box-shadow: rgba(0,0,0,0.8) 0 0 10px;
   box-shadow: rgba(0,0,0,0.8) 0 0 10px;
}




#first {
  background-color: #4B4D65;
  color: red;
}
#second {
  background-color: #FF8A66;
}
.section {
  padding: 100px;
  padding-left: 150px;
}
