
/*sets body as first layer; makes body fill page*/
body {
   z-index: 1;
   margin-top: 0px;
   margin-right: 0px;
   margin-bottom: 0px;
   margin-left: 0px
}

/*sets background images and automatically resizes it*/
html {
  background: url("PizzaBackDark.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*created menu bar with about us and how it works sections*/
ul.menu {
   z-index: 3;
   position: absolute;
   top: 0px;
   width: 100%;
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: rgba(255, 255, 255, .5);

   /* box-shadow */
   -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 10px;
   -moz-box-shadow: rgba(0,0,0,0.8) 0 0 10px;
   box-shadow: rgba(0,0,0,0.8) 0 0 10px;
}

/*places logo on top of menubar in upperleft corner*/
#logoHeader {
   position: absolute;
   top: 0px;
   float: left;
   height: 45px;
   z-index: 4;
}

/*floats menu bar options to the right*/
li {
    float: right;
}

/*styles menu bar*/
li a {
   font-family: 'Open Sans', sans-serif;
   display: block;
   color: black;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;

   /*animation for menu bar*/
   -webkit-transition: all 1s;
   -moz-transition: all 1s;
   transition: all 1s;
   cursor: pointer;
}

/*sets hover color*/
li a:hover:not(.activeMenu) {
   background-color: white;
}

/*sets hover animation style*/
li a:hover {
   transform: scale(1.1);
}

/*postions start button*/
#grabSlice {
   position: absolute;
   top: 50%;
   left: 35%;
}

/*styles start button*/
.button {
   background-color: #CF1717;
   border: none;
   color: white;
   width: 30%;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 30px;
   margin: 4px 2px;
   -webkit-transition: all 1s;
   -moz-transition: all 1s;
   transition: all 1s;
   cursor: pointer;
   z-index: 3;

   /*rounds box edges*/
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;

   /* box-shadow */
   -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 10px;
   -moz-box-shadow: rgba(0,0,0,0.8) 0 0 10px;
   box-shadow: rgba(0,0,0,0.8) 0 0 10px;
}

/*animated button*/
.button:hover {
   transform: scale(1.2);
   background-color: #b81414;
}

/*styles yam logo*/
#yamLove {
   position: absolute;
   right: 15px;
   bottom: 15px;
   width: 300px;
   background-color: rgba(255, 255, 255, 0.5);

   /*rounds box edges*/
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;

   /* box-shadow */
   -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 10px;
   -moz-box-shadow: rgba(0,0,0,0.8) 0 0 10px;
   box-shadow: rgba(0,0,0,0.8) 0 0 10px;
}
